[Unit]
Description=Vatrix FastAPI Receiver
After=network.target

[Service]
User={{ vatrix_app_user }}
WorkingDirectory={{ vatrix_base_dir }}
ExecStart={{ vatrix_venv_path }}/bin/uvicorn {{ vatrix_app_entrypoint }} --host 0.0.0.0 --port {{ vatrix_service_port }} --log-level info
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target